<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" sizes="196x196" href="./images/assets/Bunnydefense/bunny.png">
	<title>Bunny Defender</title>
    <script src="./scripts/Bunnydefense/phaser.js"></script>
    <script src="./scripts/Bunnydefense/Boot.js"></script>
    <script src="./scripts/Bunnydefense/Preloader.js"></script>
    <script src="./scripts/Bunnydefense/StartMenu.js"></script>
    <script src="./scripts/Bunnydefense/Game.js"></script>

</head>
<body>

	<div class = 'links'>
		<ul>
			<li>
				<div class='home'>
					<div id = 'homepage'>
						<a href="http://localhost:3000/">Home</a>
					</div>
				</div>
			</li>
		<li>
			<div class='game1'>
				<div id = 'flappybird'>
					<a href="http://localhost:3000/flappybird">Flappy Bird</a>
				</div>
			</div>
		</li>
			<li>
				<div class='login'>
					<div id = 'userindex'>
						<a href="http://localhost:3000/landingpage">User</a>
					</div>
				</div>
			</li>
		<li>
			<div class='userProfile'>
				<div id = 'userprofile'>
					<a href="http://localhost:3000/userprofile">My Profile</a>
				</div>
			</div>
		</li>
			<li>
				<div class='game2'>
					<div id = 'flappybird'>
						<a href="http://localhost:3000/bunnydefense">Bunny Defense</a>
					</div>
				</div>
			</li>
		</ul>
	</div>

    <div id="gameContainer"></div>
    <script type="text/javascript">
        window.onload = function() {
            var game = new Phaser.Game(540, 960, Phaser.AUTO, 'gameContainer');
            game.state.add('Boot', Bunnydefense.Boot);
            game.state.add('Preloader', Bunnydefense.Preloader);
            game.state.add('StartMenu', Bunnydefense.StartMenu);
            game.state.add('Game', Bunnydefense.Game);
            game.state.start('Boot');
        }
    </script>

	</body>
</html>
