<html>

<head>
	<meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="./styles/materialize.min.css" />
		<link type="text/css" rel="stylesheet" href="./styles/styles.css" />


    <link rel="icon" sizes="196x196" href="./images/assets/bunnydefense/bunny.png">
	<title>Bunny Defender</title>
    <script src="./scripts/bunnydefense/phaser.js"></script>
    <script src="./scripts/bunnydefense/Boot.js"></script>
    <script src="./scripts/bunnydefense/Preloader.js"></script>
    <script src="./scripts/bunnydefense/StartMenu.js"></script>
    <script src="./scripts/bunnydefense/Game.js"></script>
		<script type="text/javascript" src="./scripts/app.js"></script>


</head>
<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./scripts/materialize.min.js"></script>
	<script type="text/javascript" src="./scripts/initialize.js"></script>


	<nav>
		<div class="nav-wrapper blue-grey darken-2">
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<a href="https://powerful-coast-71596.herokuapp.com/" class="brand-logo">Blips & Chitz</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="https://powerful-coast-71596.herokuapp.com/landingpage">Game Center</a></li>
				<li><a href="https://powerful-coast-71596.herokuapp.com/">Login</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="https://powerful-coast-71596.herokuapp.com/userprofile">Profile</a></li>
				<li><a href="https://powerful-coast-71596.herokuapp.com/">Login</a></li>
				<li><a href="https://powerful-coast-71596.herokuapp.com/bunnydefense">Bunny Defense</a></li>
				<li><a href="https://powerful-coast-71596.herokuapp.com/flappybird">Flappy Bird</a></li>
			</ul>
		</div>
	</nav>

  <div id="bunnyGameContainer"></div>
    <script type="text/javascript">
        window.onload = function() {
            var game = new Phaser.Game(540, 960, Phaser.AUTO, 'bunnyGameContainer');
            game.state.add('Boot', Bunnydefense.Boot);
            game.state.add('Preloader', Bunnydefense.Preloader);
            game.state.add('StartMenu', Bunnydefense.StartMenu);
            game.state.add('Game', Bunnydefense.Game);
            game.state.start('Boot');
        }
    </script>
			<form class='bunnyform'>
				<div class='score-form'>
					<div class='container'>
						<div class="row">
					    <form class="col s12">
					      <div class="row">
					        <div class="input-field col s6">
					          <input id="name" type="text" class="validate">
					          <label for="name">Name</label>
					      </div>
					      <div class="row">
					        <div class="input-field col s12">
					          <input id="seconds" type="text" class="validate">
					          <label for="seconds">Seconds Survived</label>
					        </div>
					      </div>
								<div class="row">
									<div class="input-field col s12">
										<input id="seconds" type="text" class="validate">
										<label for="seconds">Date</label>
									</div>
								</div>
					    </form>
					  </div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="singlebutton"></label>
							<div class="col-md-4">
								<button id="singlebutton" name="singlebutton" type="submit" class="btn-primary waves-effect waves-light">Submit Score</button>
							</div>
						</div>
					</div>
				</div>

			<section class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<h2>Bunny Defense Leaderboard</h2>
					</div>
					<table class="highlight centered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Score (Second Survived)</th>
								<th>Date</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Alvin</td>
								<td>9999s</td>
								<td>9/20/2017</td>
							</tr>
							<tr>
								<td>Alan</td>
								<td>57s</td>
								<td>6/12/2017</td>
							</tr>
							<tr>
								<td>Jonathan</td>
								<td>15s</td>
								<td>9/15/2017</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>

		<!-- albums container! -->
		<div id='scores'></div>

	</section>

	</body>
</html>
