<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" sizes="196x196" href="./images/assets/Bunnydefense/bunny.png">
	<title>Bunny Defender</title>
    <script src="./scripts/Bunnydefense/phaser.js"></script>
    <script src="./scripts/Bunnydefense/Boot.js"></script>
    <script src="./scripts/Bunnydefense/Preloader.js"></script>
    <script src="./scripts/Bunnydefense/StartMenu.js"></script>
    <script src="./scripts/Bunnydefense/Game.js"></script>
	<style>
		body {
			padding: 0;
			margin: 0;
			background-color: #000000;
		}
	</style>
</head>
<body>
    <div id="gameContainer"></div>
    <script type="text/javascript">
        window.onload = function() {
            var game = new Phaser.Game(540, 960, Phaser.AUTO, 'gameContainer');
            game.state.add('Boot', Bunnydefense.Boot);
            game.state.add('Preloader', Bunnydefense.Preloader);
            game.state.add('StartMenu', Bunnydefense.StartMenu);
            game.state.add('Game', Bunnydefense.Game);
            game.state.start('Boot');
        }
    </script>
</body>
</html>
