<html>
    <head>
        <meta charset="utf-8" />
        <title> Flappy Bird </title>
        <link rel="icon" type="image/png" href="../public/images/flappybird/bird.png">

        <script type="text/javascript" src="./scripts/flappybird/phaser.min.js"></script>
        <!-- <script src="./scripts/flappybird/main.js"></script> -->
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="./styles/materialize.min.css" />
        <link type="text/css" rel="stylesheet" href="./styles/styles.css" />
        <script type="text/javascript" src="./scripts/app.js"></script>



        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/png" href="./images/bcicon.png">

    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="./scripts/materialize.min.js"></script>
      <script type="text/javascript" src="./scripts/initialize.js"></script>


      <nav>
        <div class="nav-wrapper blue-grey darken-2">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <a href="https://powerful-coast-71596.herokuapp.com/" class="brand-logo">Blips & Chitz</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://powerful-coast-71596.herokuapp.com/landingpage">Game Center</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/">Login</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="https://powerful-coast-71596.herokuapp.com/userprofile">Profile</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/">Login</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/bunnydefense">Bunny Defense</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/flappybird">Flappy Bird</a></li>
          </ul>
        </div>
      </nav>

      <div class='header'>
        <h1>Flappy Bird</h1>
      </div>

      <div id="birdGameContainer"></div>
        <script type="text/javascript" src="./scripts/flappybird/main.js">>
          window.onload = function(){
            var game = new Phaser.Game(400, 490, Phaser.AUTO, 'birdGameContainer');
            game.state.add('main', mainState.main);
            game.state.start('main');
          }
        </script>

        <div class='score-form'>
        	<div class='container'>
        		<div class="row">
        	    <form class="col s12">
        	      <div class="row">
        	        <div class="input-field col s6">
        	          <input placeholder="Name" id="name" type="text" class="validate">
        	          <label for="name">Name</label>
        	      </div>
        	      <div class="row">
        	        <div class="input-field col s12">
        	          <input id="score" type="password" class="validate">
        	          <label for="score">Score</label>
        	        </div>
        	      </div>
        	    </form>
        	  </div>
        		</div>
        		<div class="form-group">
        			<label class="col-md-4 control-label" for="singlebutton"></label>
        			<div class="col-md-4">
        				<button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary">Submit Score</button>
        			</div>
        		</div>
        	</div>
        </div>

        	<section class="container">
        		<div class="row">
        			<div class="col-md-10 col-md-offset-1">
        				<h2>Flappy Bird Leaderboard</h2>
        			</div>
        		</div>

        		<!-- albums container! -->
        		<div id='scores'></div>

        	</section>


    </body>
</html>
