
<html>

<head>
	<meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="./styles/materialize.min.css" />
		<link type="text/css" rel="stylesheet" href="./styles/styles.css" />
    <script type="text/javascript" src="./scripts/app.js"></script>
    <title>Game Center</title>
    <link rel="icon" type="image/png" href="./images/blipsandchitz-icon.png">



    <body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="./scripts/materialize.min.js"></script>
      <script type="text/javascript" src="./scripts/initialize.js"></script>


      <nav>
    		<div class="nav-wrapper blue-grey darken-2">
    			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    			<a href="http://localhost:3000/" class="brand-logo">Blips & Chitz</a>
    			<ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://localhost:3000/landingpage">Game Center</a></li>
    				<li><a href="http://localhost:3000/">Login</a></li>
    			</ul>
    			<ul class="side-nav" id="mobile-demo">
            <li><a href="https://powerful-coast-71596.herokuapp.com/userprofile">Profile</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/">Login</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/bunnydefense">Bunny Defense</a></li>
            <li><a href="https://powerful-coast-71596.herokuapp.com/flappybird">Flappy Bird</a></li>
    			</ul>
    		</div>
    	</nav>

      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="./images/bcicon.png">
            </div>
            <div class="card-content">
              <p>A game where you take the role of the bird flying through pipes. Survive for as long as you can!</p>
            </div>
            <span class="rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </span>
            <div class="card-action">
              <a href="https://powerful-coast-71596.herokuapp.com/flappybird">Flappy Bird</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="./images/bcicon.png">
            </div>
            <div class="card-content">
              <p>A game where you play to defend the bunnies from the asteroids. Survive for as long as you can!</p>
            </div>
            <span class="rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </span>
            <div class="card-action">
              <a href="https://powerful-coast-71596.herokuapp.com/bunnydefense">Bunny Defense</a>
            </div>
          </div>
        </div>
      </div>

  </body>

</html>
