<h1>landing page</h1>


<div class = 'links'>
  <div class='home'>
    <div id = 'homepage'>
      <a href="http://localhost:3000/">Home</a>
    </div>
  </div>
  <div class='game1'>
    <div id = 'flappybird'>
      <a href="http://localhost:3000/flappybird">Flappy Bird</a>
    </div>
  </div>
  <div class='login'>
    <div id = 'userindex'>
      <a href="http://localhost:3000/landingpage">User</a>
    </div>
  </div>
  <div class='userProfile'>
    <div id = 'userprofile'>
      <a href="http://localhost:3000/userprofile">My Profile</a>
    </div>
  </div>
  <div class='game2'>
    <div id = 'flappybird'>
      <a href="http://localhost:3000/bunnydefense">Bunny Defense</a>
    </div>
  </div>
</div>
