<h1>user profile</h1>

<div class = 'links'>
  <div class='home'>
    <div id = 'homepage'>
      <a href="http://localhost:3000/">home</a>
    </div>
  </div>
  <div class='game1'>
    <div id = 'flappybird'>
      <a href="http://localhost:3000/flappybird">flappybird</a>
    </div>
  </div>
  <div class='login'>
    <div id = 'userindex'>
      <a href="http://localhost:3000/landingpage">user</a>
    </div>
  </div>
  <div class='userProfile'>
    <div id = 'userprofile'>
      <a href="http://localhost:3000/userprofile">my profile</a>
    </div>
  </div>
</div>
