<h1>user profile</h1>

<div class = 'links'>
  <div class='home'>
    <div id = 'homepage'>
      <a href="http://localhost:3000/">home</a>
    </div>
  </div>
  <div class='game1'>
    <div id = 'flappybird'>
      <a href="http://localhost:3000/flappybird">Flappy Bird</a>
    </div>
  </div>
  <div class='login'>
    <div id = 'userindex'>
      <a href="http://localhost:3000/landingpage">User</a>
    </div>
  </div>
  <div class='userProfile'>
    <div id = 'userprofile'>
      <a href="http://localhost:3000/userprofile">My Profile</a>
    </div>
  </div>
  <div class='game2'>
    <div id = 'flappybird'>
      <a href="http://localhost:3000/bunnydefense">Bunny Defense</a>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://localhost:3000/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="http://localhost:3000/landingpage">landing page</a></li>
          <li><a class="grey-text text-lighten-3" href="http://localhost:3000/flappybird">Flappy Bird</a></li>
          <li><a class="grey-text text-lighten-3" href="http://localhost:3000/userprofile">Profile</a></li>
          <li><a class="grey-text text-lighten-3" href="http://localhost:3000/bunnydefense">Bunny Defense</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer>
